<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      <%= File.read("#{__dir__}/template/css/#{highlight}.css") %>
    </style>
  </head>
  <body>
    <%= body %>
  </body>
</html>
