table, th, td {
  border: solid 1px #ccc;
}

code {
  background-color: #eee;
}

code > span {
}

pre {
  background-color: #eee;
  border: solid 1px #eee;
  padding: 0.8em;
}

.CommentMultiline         { color: #999988; font-style: italic}
.CommentPreproc           { color: #999999; font-weight: bold}
.CommentSingle            { color: #999988; font-style: italic}
.CommentSpecial           { color: #999999; font-style: italic font-weight: bold}
.Comment                  { color: #999988; font-style: italic}
.Error                    { color: #a61717; background-color:  #e3d2d2}
.GenericDeleted           { color: #000000; background-color:  #ffdddd}
.GenericEmph              { color: #000000; font-style: italic}
.GenericError             { color: #aa0000}
.GenericHeading           { color: #999999}
.GenericInserted          { color: #000000; background-color:  #ddffdd}
.GenericOutput            { color: #888888}
.GenericPrompt            { color: #555555}
.GenericStrong            { font-weight: bold}
.GenericSubheading        { color: #aaaaaa}
.GenericTraceback         { color: #aa0000}
.KeywordConstant          { color: #000000; font-weight: bold}
.KeywordDeclaration       { color: #000000; font-weight: bold}
.KeywordNamespace         { color: #000000; font-weight: bold}
.KeywordPseudo            { color: #000000; font-weight: bold}
.KeywordReserved          { color: #000000; font-weight: bold}
.KeywordType              { color: #445588; font-weight: bold}
.Keyword                  { color: #000000; font-weight: bold}
.LiteralNumberFloat       { color: #009999}
.LiteralNumberHex         { color: #009999}
.LiteralNumberIntegerLong { color: #009999}
.LiteralNumberInteger     { color: #009999}
.LiteralNumberOct         { color: #009999}
.LiteralNumber            { color: #009999}
.LiteralStringBacktick    { color: #d14}
.LiteralStringChar        { color: #d14}
.LiteralStringDoc         { color: #d14}
.LiteralStringDouble      { color: #d14}
.LiteralStringEscape      { color: #d14}
.LiteralStringHeredoc     { color: #d14}
.LiteralStringInterpol    { color: #d14}
.LiteralStringOther       { color: #d14}
.LiteralStringRegex       { color: #009926}
.LiteralStringSingle      { color: #d14}
.LiteralStringSymbol      { color: #990073}
.LiteralString            { color: #d14}
.NameAttribute            { color: #008080}
.NameBuiltinPseudo        { color: #999999}
.NameBuiltin              { color: #0086B3}
.NameClass                { color: #445588; font-weight: bold}
.NameConstant             { color: #008080}
.NameDecorator            { color: #3c5d5d; font-weight: bold}
.NameEntity               { color: #800080}
.NameException            { color: #990000; font-weight: bold}
.NameFunction             { color: #990000; font-weight: bold}
.NameLabel                { color: #990000; font-weight: bold}
.NameNamespace            { color: #555555}
.NameTag                  { color: #000080}
.NameVariableClass        { color: #008080}
.NameVariableGlobal       { color: #008080}
.NameVariableInstance     { color: #008080}
.NameVariable             { color: #008080}
.OperatorWord             { color: #000000; font-weight: bold}
.Operator                 { color: #000000; font-weight: bold}
.TextWhitespace           { color: #bbbbbb}
.Text                     { background-color:  #f8f8f8}
