.Text                  {color: #bbbbbb; background-color: '#000'}
.Comment               {color: #888}
.CommentPreproc        {color: #579}
.CommentSpecial        {color: #cc0000; font-weight: bold}
.Keyword               {color: #080; font-weight: bold}
.KeywordPseudo         {color: #038}
.KeywordType           {color: #339}
.Operator              {color: #333}
.OperatorWord          {color: #000; font-weight: bold}
.NameBuiltin           {color: #007020}
.NameFunction          {color: #06B; font-weight: bold}
.NameClass             {color: #B06; font-weight: bold}
.NameNamespace         {color: #0e84b5; font-weight: bold}
.NameException         {color: #F00; font-weight: bold}
.NameVariable          {color: #963}
.NameVariableInstance  {color: #33B}
.NameVariableClass     {color: #369}
.NameVariableGlobal    {color: #d70; font-weight: bold}
.NameConstant          {color: #036; font-weight: bold}
.NameLabel             {color: #970; font-weight: bold}
.NameEntity            {color: #800; font-weight: bold}
.NameAttribute         {color: #00C}
.NameTag               {color: #070}
.NameDecorator         {color: #555; font-weight: bold}
.LiteralString         {background-color: #fff0f0}
.LiteralStringChar     {color: #04D}
.LiteralStringDoc      {color: #D42}
.LiteralStringInterpol {background-color: #eee}
.LiteralStringEscape   {color: #666; font-weight: bold}
.LiteralStringRegex    {color: #000; background-color: #fff0ff}
.LiteralStringSymbol   {color: #A60}
.LiteralStringOther    {color: #D20}
.LiteralNumber         {color: #60E; font-weight: bold}
.LiteralNumberInteger  {color: #00D; font-weight: bold}
.LiteralNumberFloat    {color: #60E; font-weight: bold}
.LiteralNumberHex      {color: #058; font-weight: bold}
.LiteralNumberOct      {color: #40E; font-weight: bold}
.GenericHeading        {color: #000080; font-weight: bold}
.GenericSubheading     {color: #800080; font-weight: bold}
.GenericDeleted        {color: #A00000}
.GenericInserted       {color: #00A000}
.GenericError          {color: #FF0000}
.GenericEmph           {font-weight: italic}
.GenericStrong         {font-weight: bold}
.GenericPrompt         {color: #c65d09; font-weight: bold}
.GenericOutput         {color: #888}
.GenericTraceback      {color: #04D}
.Error                 {color: #F00; background-color: #FAA}
